.movieDetailsPage {
  padding: 20px 0 30px;
}
.back {
  margin-bottom: 15px;
  font-weight: 600;
  display: block;
  color: #aeaeae;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
  width: fit-content;
}
.back:hover {
  color: #fff;
}
.movieInfoWrapper {
  width: 100%;
}
.back::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.back:hover::before {
  opacity: 1;
}
.movieItem {
  background-color: #303030;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
}
.movieImageWrapper {
  display: flex;
  flex-direction: column;
}
.movieImageWrapper img {
  border-radius: 8px;
  aspect-ratio: 313 / 450;
  margin-bottom: 10px;
}
.movieCountry,
.movieStudio,
.movieTime,
.movieRelease,
.movieRating,
.movieGenres {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.movieCountry p:first-child,
.movieStudio p:first-child,
.movieTime p:first-child,
.movieRelease p:first-child,
.movieRating p:first-child,
.movieGenres p:first-child {
  font-weight: 700;
  min-width: 110px;
}
.movieTitle {
  display: none;
}
.movieTagline {
  display: none;
}
.movieTitleMobile {
  line-height: 1.2;
  margin-bottom: 2px;
}
.movieTaglineMobile {
  margin-bottom: 20px;
}
.movieOverview {
  margin-bottom: 15px;
  margin-top: 15px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.link {
  display: block;
  padding: 10px 20px;
  background-color: #2283dc;
  color: #fff;
  border: none;
  border-radius: 50px;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.link:hover {
  box-shadow: rgb(34, 131, 220) 0px 10px 20px -10px;
  transform: translateY(-3px);
}
.active {
  box-shadow: rgb(34, 131, 220) 0px 10px 20px -10px;
}
.empty,
.error {
  text-align: center;
  font-weight: 500;
}

@media (min-width: 768px) {
  .movieTitleMobile {
    display: none;
  }
  .movieTaglineMobile {
    display: none;
  }
  .movieTitle {
    display: block;
  }
  .movieTagline {
    display: block;
  }
  .movieItem {
    display: flex;
    gap: 20px;
  }
  .movieImageWrapper {
    width: 250px;
    flex-shrink: 0;
  }
  .movieInfoWrapper {
    background-color: #1d1e1f;
    padding: 15px;
    border-radius: 8px;
  }
}
@media (min-width: 1024px) {
  .movieImageWrapper {
    width: 350px;
  }
  .movieImageWrapper img {
    aspect-ratio: 313 / 420;
  }
  .movieItem p,
  .movieItem li {
    font-size: 18px;
  }
  .movieTitle {
    font-size: 32px;
  }
  .movieCountry p:first-child,
  .movieStudio p:first-child,
  .movieTime p:first-child,
  .movieRelease p:first-child,
  .movieRating p:first-child,
  .movieGenres p:first-child {
    min-width: 120px;
  }
  .empty,
  .error {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .movieImageWrapper {
    width: 430px;
  }
  .movieImageWrapper img {
    margin-bottom: 20px;
  }
  .movieItem {
    padding: 25px;
  }
  .movieItem p,
  .movieItem li {
    font-size: 22px;
  }
  .movieTitle {
    font-size: 38px;
  }
  .movieCountry,
  .movieStudio,
  .movieTime,
  .movieRelease,
  .movieRating,
  .movieGenres {
    margin-bottom: 20px;
  }
  .back {
    font-size: 22px;
  }
  .movieCountry p:first-child,
  .movieStudio p:first-child,
  .movieTime p:first-child,
  .movieRelease p:first-child,
  .movieRating p:first-child,
  .movieGenres p:first-child {
    min-width: 150px;
  }
  .link {
    font-size: 22px;
  }
  .empty,
  .error {
    font-size: 22px;
  }
}
