.moviesPage {
  padding: 30px 0;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.form input {
  flex-grow: 1;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #ffffff40;
  background-color: #303030;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.form input:focus {
  border-color: #fff;
}
.button {
  background-color: #252627;
  border: 1px solid #ffffff40;
  padding: 8px 10px;
  border-radius: 6px;
  width: fit-content;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.button:hover {
  border-color: #fff;
}
.empty,
.error {
  text-align: center;
  font-weight: 500;
}
.error {
  color: #e90606;
}
@media (min-width: 768px) {
  .empty,
  .error {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .form input {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
  .empty,
  .error {
    font-size: 22px;
  }
}
